:host {
    display: block;
    width: 100%;
    height: 100%;
}

div {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.red {
    background-color: #F25022;
}

.green {
    background-color: #80B90A;
}

.blue {
    background-color: #029BE1;
}

.orange {
    background-color: #F0B006;
}