

header {
    background-color: purple;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin: 0;
  }

footer {
    background-color: orange;
    height: 50px;
  }

  .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.microsoft {
    height: 400px;
    width: 400px;
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px
}

.microsoft div {

    border: 1px solid;
}

.red {
    background-color: #F25022;
}

.green {
    background-color: #80B90A;
}

.blue {
    background-color: #029BE1;
}

.orange {
    background-color: #F0B006;
}